body{
    display: flex;
    background-image: url("background.jpg");
    font-weight: bold;
    flex-direction: column;
    font-size: 110%;
}

.rightContainer {
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
	
}

.table {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.forms {
    display: flex;
    flex-direction: column;
}

.formDiv {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.bokeh{
    display: flex;
    margin: 5%;
    flex-direction: row;
}

